<section class="mx-auto">
  <h2 class="text-6xl text-center">Welcome to <span class="bg-red-500 px-2 font-bold">:hangman</span></h2>
  <div class="mt-12 mx-auto text-center">
    <p class="text-3xl mb-8">Challenge a friend in the classic game that everyone knows</p>
    <%= link("Get started", to: "/game", class: "border-2 border-red-500 bg-transparent font-bold text-3xl text-red-500 p-2 hover:bg-red-500 hover:text-white") %>
  </div>
</section>
